.modalContent {
    background-color: #1f2029;
}

.modal-header .close {
    color: white;
}

.carousel-item img {
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.carousel-indicators li {
    background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.8);
}